node_modules
.DS_Store

.npmrc
.cache
.vscode
tests/server/static
tests/server/static/upload

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.png
# auto generate file
components.d.ts
playwright-report/
allure-report/
allure-results/
package-lock.json
package-lock*
yarn.lock*
yarn.lock
components.d.ts
